p {
  font-family: Lato;
}
.navbar-default {
    background-color: rgb(25, 97, 230);
    border-color: #E7E7E7;
    color:white;  
    
}                                                                                           
.centre1{
text-align:center;
}
nav {
  text-align: center;
}
.navbar{
  width:30%;
  margin-left: 37%;
  margin-top:10%;
}
a{
  color:white;
  
}
a:hover{
  color:white;
  background: rgb(255, 0, 170);
}
h5{
  text-align: center;
}